.ear{
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
}

#qwerty{
    width: 300px;
}

.news{
    text-align: center;
    display: flow;
    width: 50%;
    border: solid black;

}

#sub{
    align-content: center;
    text-align: center;
}

.left{
    float: left;
}

.right{
    float: right;
}

.textcols {
    white-space: nowrap;
}
.textcols-item {
    white-space: normal;
    display: inline-block;
    width: 48%;
    vertical-align: top;
}
.textcols .textcols-item:first-child {
    margin-right: 4%;
}
.post{
    width: revert-layer;
    text-align: center;
    display: block;
    border: 2px solid #23a6d5;
}